div{
    display:flex;
    box-sizing:content-box;
    flex-direction: center;
    flex:1;
    
}
header {
    display:flex;
}

.encabezado{
    align-items: center;
    justify-content: center;
    justify-items: center;
}
.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 2px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-left: 20px;
    }

img{
    background-size: 100%;
}
.dere{
    
    display:flex;
    
}
